baseURL = "@@URL@@/"
languageCode = "en-us"
title = "Python Barcelona"
theme = "pybcn"

[params]
  google_analytics_id=""

  [params.colors]
    menu_primary = "#006c9b"
    menu_secondary = "#ffdc39"

  [params.homepage_meta_tags]
    meta_description = "Python Barcelona is a non-profit association for promoting Python's knowledge and usage spread in Barcelona area."
    meta_og_title = "Python Barcelona"
    meta_og_type = "website"
    meta_og_url = "@@URL@@"
    meta_og_image = "https://raw.githubusercontent.com/JugglerX/hugo-hero-theme/master/images/tn.png"
    meta_og_description = "Python Barcelona is a non-profit association for promoting Python's knowledge and usage spread in Barcelona area."
    meta_twitter_card = "summary"
    meta_twitter_site = "@pybcn"
    meta_twitter_creator = "@pybcn"

[[menu.main]]
	name = "Services"
	url = "/services/"
    weight = 1

[[menu.main]]
    name = "Work"
    url = "/work/"
    weight = 2

[[menu.main]]
    name = "About"
    url = "/about/"
    weight = 3

[[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 4

[permalinks]
  post = "/:year/:month/:day/:slug/"
  pages = "/:filename/"